<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
    <title>Jinja2 Template Evaluator</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .container {
            max-width: 800px;
            margin: auto;
        }
        textarea {
            width: 100%;
            height: 150px;
            margin-bottom: 20px;
            font-family: monospace;
            font-size: 14px;
        }
        button {
            display: block;
            margin: 20px 0;
        }
        #output {
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 20px;
        }
        #screenshotButton {
            position: fixed;
            right: 20px;
            bottom: 20px;
            background: #007BFF;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Jinja2 Template Evaluator</h1>
        <p>Enter your Jinja2 template and Python dictionary, then click "Render Template" to see the result.</p>
        <label for="template">Jinja2 Template:</label>
        <textarea id="template" placeholder="<h1>Hello, {{ name }}!</h1>"></textarea>

        <label for="context">Python Dictionary (Context):</label>
        <textarea id="context" placeholder='{"name": "World"}'></textarea>

        <button onclick="renderTemplate()">Render Template</button>
        <div id="output"></div>
    </div>

    <button id="screenshotButton" onclick="takeScreenshot()">📸 Take Screenshot</button>

    <script src="https://cdn.jsdelivr.net/pyodide/v0.23.0/full/pyodide.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
    <script>
        async function loadPyodideAndPackages() {
            window.pyodide = await loadPyodide();
            await pyodide.loadPackage("jinja2");
        }

        async function renderTemplate() {
            const template = document.getElementById("template").value;
            let context = document.getElementById("context").value;
            const pyodide = window.pyodide;

            try {
                // Replace single quotes with double quotes to ensure valid JSON
                context = context.replace(/'/g, '"');

                // Ensure the modified context is a valid JSON string
                context = JSON.stringify(JSON.parse(context));  

                const pythonCode = `
import json
context = json.loads('''${context}''')
from jinja2 import Template
template = Template('''${template}''')
rendered = template.render(context)
rendered
                `;

                const rendered = pyodide.runPython(pythonCode);
                displayOutput(rendered);
                openInNewTab(rendered);
            } catch (error) {
                displayOutput("Error: " + error);
            }
        }

        function displayOutput(content) {
            const outputDiv = document.getElementById("output");
            outputDiv.innerHTML = content;
        }

        function openInNewTab(content) {
            const newWindow = window.open();
            newWindow.document.write(content);
            newWindow.document.close();
        }

        function takeScreenshot() {
            const screenshotButton = document.getElementById("screenshotButton");
            screenshotButton.style.display = "none"; // Hide button for screenshot

            html2canvas(document.body).then(canvas => {
                canvas.toBlob(blob => {
                    navigator.clipboard.write([new ClipboardItem({ 'image/png': blob })]);
                    screenshotButton.style.display = "block"; // Show button again after screenshot
                    alert("Screenshot copied to clipboard!");
                });
            });
        }

        loadPyodideAndPackages();
    </script>
</body>
</html>
